.App {
  text-align: center;
}

.leftside, .rightside{
  height: 100vh;
  width: 100%;  
}

.sections{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  margin: 3em;
}

.button-group{
  display: flex; 
  justify-content: space-evenly;
  flex-direction: row; 
  align-items: center;
  margin: 1em; 
}

.button-group .nyubutton {
  appearance: none;
  border: 0 none;
  box-shadow: none;
  background: #57068c;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Gotham A","Gotham B",Helvetica,Arial,sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 3px;
}

.section .img{
  border-radius: 10px; 
  padding: 20px;
}

.sections .purposetext{
  max-width: 900px;
  text-align: left;
  font-size: 1rem;
  padding: 1rem;
}
.section .purposetext .header{ 
  font-weight: bold;
}

.second{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.second .purposetexttwo{
  max-width: 900px;
  text-align: left;
  font-size: 1rem;
  padding: 1rem;
}

.footer-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2%; 
}

.list{ 
  list-style-type: circle;
}

.list li{
  margin: 20px;  
}

.instruction{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 3em;
}

.leftside{
  display: grid;
  align-items: stretch;
}

.dibner-image{
  display: flex; 
  flex: 1; 
  padding: 20px; 
  flex-direction: column;
  align-items: baseline;
}

.front{
  height: 15vmin;
  width: fit-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
