.App {
  text-align: center;
}

.leftside, .rightside{
  height: 100vh;
  width: 100%;  
}

.sections{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  margin: 3em;
}

.section .img{
  border-radius: 10px; 
}

.sections .purposetext{
  max-width: 900px;
  text-align: left;
  font-size: 1rem;
  padding: 1rem;
}
.section .purposetext .header{ 
  font-weight: bold;
}

.second{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}


.leftside{
  display: grid;
  align-items: stretch;
}

.dibner-image{
  display: flex; 
  flex: 1; 
  padding: 20px; 
  flex-direction: column;
  align-items: baseline;
}

.front{
  height: 15vmin;
  width: fit-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
